@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Popppins', sans-serif
}

.container {
  max-width: 1000px;
  min-height: 500px;
  margin: 100px auto;
  overflow: auto;
  padding: 30px;
  border: 1px solid black;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}


.btn {
  /* display: inline-block; */
  background-color: white;
  border-color: black;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Poppins';
  font-size: 10px;
}

.expense {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.expense.budgeted {
  border-left: 5px red; 
}